<!--
  Generated template for the ConsultarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Consuta de Ocorrências</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="background-internal">

<div *ngIf="status=='ocorrencias'">
  <h5>Ocorrências registradas. Total: {{ocorrencias.length}}</h5>

<ion-grid>
  <ion-row>
    <ion-col col-12>

      <ion-list padding>
        <ion-item class="l_input">
          <ion-searchbar (ionInput)="search($event)" placeholder="Pesquisar" ></ion-searchbar>
        </ion-item>
      </ion-list>

      <ion-card *ngFor="let ocorrencia of listaOcorrencias">
        <ion-card-header *ngIf="ocorrencia.status_id == 1" class="l_yellow">
          <ion-row>
            <ion-col col-12><b>Status:</b> {{ocorrencia.status_ocorrencium.descricao}}</ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-header *ngIf="ocorrencia.status_id == 2" class="l_blue">
          <ion-row>
            <ion-col col-12><b>Status:</b> {{ocorrencia.status_ocorrencium.descricao}}</ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-header *ngIf="ocorrencia.status_id == 3" class="l_green">
          <ion-row>
            <ion-col col-12><b>Status:</b> {{ocorrencia.status_ocorrencium.descricao}}</ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-header *ngIf="ocorrencia.status_id == 4" class="l_red">
          <ion-row>
            <ion-col col-12><b>Status:</b> {{ocorrencia.status_ocorrencium.descricao}}</ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col col-12><b>Descrição:</b> {{ocorrencia.descricao}}</ion-col>
            <ion-col col-12><b>Data:</b> {{ocorrencia.data_envio | date: 'dd/MM/yyyy'}}</ion-col>
            <ion-col col-12><b>Endereço:</b> {{ocorrencia.endereco}}</ion-col>
            <ion-col col-12><b>Bairro:</b> {{ocorrencia.bairro}}</ion-col>
            <ion-col col-12><b>CEP:</b> {{ocorrencia.cep}}</ion-col>
            <ion-col col-12><b>Complemento:</b> {{ocorrencia.complemento}}</ion-col>
            <ion-col col-12><b>Tipo de Ocorrência:</b> {{ocorrencia.tipo_foto.descricao}}</ion-col>
          </ion-row>

          <!--<ion-row>
            <ion-col col-4 style="text-align: center">
              <button ion-button color="dark" ><ion-icon name="photos" class="l_right"></ion-icon>Fotos</button>
            </ion-col>

            <ion-col col-4 style="text-align: right">
            </ion-col>

            <ion-col col-4 style="text-align: center">
              <button ion-button color="primary"><ion-icon name="list-box" class="l_right"></ion-icon>Mensagens</button>
            </ion-col>
          </ion-row>-->

          <ion-list>
            <ion-item (click)="buscaFotos(ocorrencia)" class="l-item-sublinhado">
              <ion-col col-11><ion-icon name="photos" class="l_right" style="color: gray"></ion-icon>Fotos</ion-col>
              <ion-col col-1><ion-icon class="l-direita" name="arrow-forward"></ion-icon></ion-col>
            </ion-item>
            <ion-item class="l-item-sublinhado">
              <ion-col col-11><ion-icon name="list-box" class="l_right" style="color: blue"></ion-icon> Mensagens</ion-col>
              <ion-col col-1><ion-icon class="l-direita" name="arrow-forward"></ion-icon></ion-col>
            </ion-item>
          </ion-list>

        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>
</ion-grid>

</div>


<div *ngIf="status == 'fotos'">

  <ion-grid>
    <ion-row>
      <ion-col col-10>
          <button padding (click)="voltar()" ion-button color="dark"><ion-icon name="arrow-round-back" class="l_right"></ion-icon>Voltar</button>
      </ion-col>

      <ion-col col-12 *ngFor="let foto of fotos">
        <ion-card>
          <img src="{{foto.nome}}" />
          <div class="card-title l-description-photo">{{ocorrencia.descricao}}</div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</div>

<div *ngIf="status == 'acompanhamentos'">
  <ion-grid>
    <ion-row>
      <ion-col col-10>
          <button padding (click)="voltar()" ion-button color="dark"><ion-icon name="arrow-round-back" class="l_right"></ion-icon>Voltar</button>
      </ion-col>

      <ion-col col-12>
        <ion-card>
          <ion-card-content>
            <span class="card-title"></span>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<div *ngIf="status == 'mapa'">
  <div id="mapid" style="width: 600px; height: 400px;"></div>
</div>


</ion-content>
