page-home {

  .l_panel_login{
    margin-top: 35%;
  }

  .l_adjust{
    margin-top: -35px;
  }

  .l_input{
    background-color: #00000080;
    color: white;
  }

  .l_input .label{
    color: white;
  }

  .l_footer_list{
    width: 50%;
    float: left;
  }

  .l_footer_list_item{
    background-color: black;
    color: ghostwhite;
    font-size: 12px;
    text-align: center;
  }



}
