<!--
  Generated template for the InicioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ParticipaSol</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background-internal">

  <ion-grid>
    <ion-row>

      <ion-col col-12>
        <ion-card class="l_card_menu l_card_profile">
          <ion-card-content>
            <ion-row>
              <ion-col col-1 style="margin-top:3px"><p><ion-icon name="person" style="font-size: 1.8em"></ion-icon></p></ion-col>
              <ion-col col-11 style="margin-top:-5px">
                <p><b>Nome:</b> Fco Wilson R Junior</p>
                <p><b>Email:</b> wjunior_msn@hotmail.com</p>
              </ion-col>
              <ion-col *ngIf="icon" col-1 style="margin-top:3px"><p><ion-icon color="secondary" name="wifi" style="font-size: 1.8em"></ion-icon></p></ion-col>
              <ion-col *ngIf="!icon" col-1 style="margin-top:3px"><p><ion-icon color="danger" name="close-circle" style="font-size: 1.8em"></ion-icon></p></ion-col>
              <ion-col col-11 style="margin-top:-5px">
                <p *ngIf="icon" color="secondary"><b>GPS ativado</b></p>
                <p *ngIf="icon"><b>Precisão:</b> {{posicao}} metros</p>
                <p *ngIf="!icon" color="danger"><b>GPS inativo</b></p>
                <p *ngIf="!icon">Não foi possível detectar GPS</p>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col col-6>
        <ion-card (click)="novaOcorrencia()" class="l_card_menu l_green">
            <ion-card-content>
              <ion-icon class="l_icone_card" name="camera" large></ion-icon>
              <p class="text-white">Nova Ocorrência</p>
            </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col col-6>
        <ion-card class="l_card_menu l_red">
            <ion-card-content>
              <ion-icon class="l_icone_card" name="search" large></ion-icon>
              <p class="text-white">Consultar Ocorrências</p>
            </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col col-6>
        <ion-card class="l_card_menu l_blue">
            <ion-card-content>
              <ion-icon class="l_icone_card" name="time" large></ion-icon>
              <p class="text-white">Histórico</p>
            </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col col-6>
        <ion-card class="l_card_menu l_orange">
            <ion-card-content>
              <ion-icon class="l_icone_card" name="calendar" large></ion-icon>
              <p class="text-white">Eventos</p>
            </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
